numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
anndata==0.10.9
scanpy==1.10.3
scikit-misc==0.3.1
scikit-learn==1.4.2
h5py==3.10.0
matplotlib==3.8.4
seaborn==0.13.2
tqdm
umap-learn
python-igraph
leidenalg
torch
legacy-api-wrap
textgrad